{{!-- <!-- CAROUSEL -->
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/carousel1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="img/carousel2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="img/carousel3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> --}}

{{!-- Bienvenida --}}

<div class="tituloProductos">
    <h2>Home de productos</h2>
</div>

{{!-- Testimonios --}}

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <img src="img/testimonio1.jpg" class="card-img-top" alt="Imagen Testimonio 1">
                <div class="card-body">
                    <h5 class="card-title">producto 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa libero, inventore saepe mollitia vero vitae impedit atque! Similique consequatur repudiandae obcaecati maxime illum, dolor aliquid beatae accusantium velit ratione nesciunt.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <img src="img/testimonio2.jpg" class="card-img-top" alt="Imagen Testimonio 2">
                <div class="card-body">
                    <h5 class="card-title">Producto 2</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum ratione mollitia ducimus voluptates, quos, ullam autem a voluptatum maiores laudantium error distinctio quibusdam, exercitationem consequuntur modi quaerat quo voluptatem voluptas.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="card h-100">
                <img src="img/testimonio3.jpg" class="card-img-top" alt="Imagen Testimonio 3">
                <div class="card-body">
                    <h5 class="card-title">producto3</h5>
                    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis aliquid iste exercitationem, ab iusto eligendi dolores necessitatibus voluptatum magnam nobis, quasi at amet, dolore adipisci dicta reprehenderit ipsam. Ab, dignissimos.</p>
                </div>
            </div>
        </div>
    </div>
    

    <script src="scripts.js"></script>

</div>
<footer>
        <p>© 2024 Mi Sitio. Todos los derechos reservados.</p>
    </footer>