/* Reset de estilos */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
.fuentesNav {
    font-size: 1.5rem;
    padding: 10px;
}
.encabezado {
    /* background-color: bisque; */
    border-top: solid 20px #c1101a;
    /* border-bottom: solid 1px #c1101a; */
    margin-bottom: 30px;
}

nav li a {
    text-transform: uppercase;
    text-decoration: none;
    margin: 15px;
    color: gray;
    border-left: 1px solid red;
    border-right: 1px solid red;
    padding: 0 15px;
}

a:hover {
    background-color: #c1101a;
    color: #fafafa;
}
/* PRODUCTOS */

.tituloProductos {
    background-color: #c1101a;
    color: #fafafa;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
}

.tituloProductos h2 {
    font-size: 35px;
}


/*CARDS*/


.colorBtn {
    background-color: #c1101a;
    color: #fafafa;
    font-size: 18px;
}

.colorBtn:hover {
    background-color: red;
    color: #fafafa;
}


/*Cards*/

.card-img-top {
    height: 200px;
    /* Ajusta la altura deseada */
    object-fit: cover;
    object-position: center top;
}

/*formularios*/
.container {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

.profile {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.welcome-msg {
    margin-top: 0;
}

.info {
    margin-bottom: 10px;
}

#logout-btn {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#logout-btn:hover {
    background-color: #0056b3;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}